# *Assignment 01*

In [1]:
salaries = ['20k','40k','50k','60k','35k','89k','40k']

In [9]:
# 1. What is the length of the salaries list.
len(salaries)

7

In [11]:
# 2. Retrieve the third salary in the list by using index.
salaries[2]

'50k'

In [13]:
# 3. Extract the last salary from the list by using a negative index.
salaries[-1]

'40k'

In [15]:
# 4. Slice the salaries list to get only the middle three salaries.
salaries[2:5]

['50k', '60k', '35k']

In [17]:
# 5. Add a new salary to the list, '100k' by using append() method.
salaries.append('100k')
print(salaries)

['20k', '40k', '50k', '60k', '35k', '89k', '40k', '100k']

In [19]:
# 5. Add a new salary to the list, '120k' without method.
salaries + ['120k']

['20k', '40k', '50k', '60k', '35k', '89k', '40k', '100k', '120k']

In [21]:
# 6. Replace the third salary in the list with '55k' and print the updated list.
salaries[2] = '55k'
salaries

['20k', '40k', '55k', '60k', '35k', '89k', '40k', '100k']

In [23]:
# 7. Count how many times '40k' appears in the list.
salaries.count('40k')

2

In [25]:
# 8. Insert a new salary at the second position.
salaries[1] = '70k'
print(salaries)

['20k', '70k', '55k', '60k', '35k', '89k', '40k', '100k']

In [27]:
# 9. Reverse the order of the salaries list with method.
salaries.reverse()
print(salaries)

['100k', '40k', '89k', '35k', '60k', '55k', '70k', '20k']

In [29]:
# 10. Reverse the order of the salaries list without method
reversed_salaries = salaries[::-1]
print("Reversed list:", reversed_salaries)

Reversed list: ['20k', '70k', '55k', '60k', '35k', '89k', '40k', '100k']