# Assignment 04

Q1. my_tuple = ( (1, 2, 3), [4, 5, 6], ('apple', 'banana', 'cherry'), [7, 8, 9] )
•	Print all elements from my_tuple on a new line (using for loop)
•	Create a new tuple by concatenating the first and last elements of my_tuple

In [ ]:
my_tuple = ((1, 2, 3), [4, 5, 6], ('apple', 'banana', 'cherry'), [7, 8, 9])

for element in my_tuple:
    print(element)
new_tuple = my_tuple[0] + tuple(my_tuple[-1])
print("New Tuple:", new_tuple)

In [ ]:
Q2. inventory = { "The Great Gatsby": {"price": 10.99, "quantity": 5}, "Rich dad poor dad": {"price":
8.99, "quantity": 8}, "Harry Potter": {"price": 12.50, "quantity": 2}, }
•	Add a new book in inventory using method and get all book titles using method
•	Remove a book if it's out of stock

In [ ]:
inventory = {
    "The Great Gatsby": {"price": 10.99, "quantity": 5},
    "Rich dad poor dad": {"price": 8.99, "quantity": 8},
    "Harry Potter": {"price": 12.50, "quantity": 2},
}
inventory["1984"] = {"price": 15.99, "quantity": 10}

print("Book Titles:", list(inventory.keys()))

inventory = {book: details for book, details in inventory.items() if details["quantity"] > 0}
print("Updated Inventory:", inventory)

In [ ]:
Q3. An ecommerce store stores information about its products in a nested dictionary. The outer dictionary uses product IDs as keys, and the inner dictionary stores product details like name, category, price, and stock quantity.
products = { 101: {"name": "Laptop", "category": "Electronics", "price": 1200, "stock": 50}, 102:
{"name": "Shirt", "category": "Apparel", "price": 25, "stock": 200}, 103: {"name": "Coffee Maker",
"category": "Home Appliances", "price": 80, "stock": 30} }
•	Increase the stock of the "Shirt" product (add 50 more units)
•	Add a new product (e.g., "Smartphone")

In [ ]:
products = {
    101: {"name": "Laptop", "category": "Electronics", "price": 1200, "stock": 50},
    102: {"name": "Shirt", "category": "Apparel", "price": 25, "stock": 200},
    103: {"name": "Coffee Maker", "category": "Home Appliances", "price": 80, "stock": 30},
}
products[102]["stock"] += 50
products[104] = {"name": "Smartphone", "category": "Electronics", "price": 999, "stock": 100}

print("Updated Products:", products)

In [ ]:
Q4. You are given a list that contains some duplicate items. Remove the duplicates by converting the list to a set.
shopping_list = ["apple", "banana", "apple", "orange", "banana", "grape"]

In [ ]:
shopping_list = ["apple", "banana", "apple", "orange", "banana", "grape"]
unique_items = set(shopping_list)
print("Unique Items:", unique_items)

In [ ]:
Q5. You are managing a list of students enrolled in two different courses.
You need to perform various set operations to understand the student enrollment.
Task: Create two sets: one for students in "Course A" and one for students in "Course B".
Find the students who are in "Course A" but not in "Course B" (difference).
Find students who are only in one of the two courses (symmetric difference).
course_a = {"John", "Alice", "Bob", "David"} course_b = {"Alice", "Eve", "Charlie", "David"}
•	Find students who are in Course A but not in Course B (difference)
•	Find students who are only in one of the two courses (symmetric difference)

In [ ]:
course_a = {"John", "Alice", "Bob", "David"}
course_b = {"Alice", "Eve", "Charlie", "David"}

difference = course_a - course_b
print("Students in Course A but not in Course B:", difference)
symmetric_difference = course_a ^ course_b
print("Students only in one of the two courses:", symmetric_difference)

In [ ]:
Q6. Write a Python program that calculates the sum of all even numbers between 1 and 50 (inclusive) using a for loop.

In [ ]:
sum_of_evens = 0

for number in range(1, 51):
    if number % 2 == 0:
        sum_of_evens += number

print("Sum of even numbers between 1 and 50:", sum_of_evens)

In [ ]:
Q7. Write a Python program that prints the multiplication table for a given number (between 1 and 10) using a for loop.

In [ ]:
number = int(input("Enter a number between 1 and 10: "))
for i in range(1, 11):
    print(f"{number} x {i} = {number * i}")

In [ ]:
Q8. Power of a Number Write a Python program that takes a number and prints the powers of the number (starting from 1

In [ ]:
number = int(input("Enter a number: "))
power = 1
while power <= 10:
    print(f"{number}^{power} = {number ** power}")
    power += 1

In [ ]:
Q9. Problem Statement: Write a Python program that takes an integer input from the user and counts down from that number to 0.
The program should display the current number at each step until it reaches 0, at which point it should print a message indicating
the countdown is finished

In [ ]:
start = int(input("Enter a number to start the countdown: "))
while start >= 0:
    print(start)
    start -= 1

print("Countdown finished!")

In [ ]:
Q10. Write a Python program that takes an integer input n from the user and generates a right-angled triangle pattern of stars (*) with n rows.
The first row should contain 1 star, the second row 2 stars, the third row 3 stars, and so on until the nth row.

In [ ]:
n = int(input("Enter the number of rows for the triangle: "))
for i in range(1, n + 1):
    print("* " * i)